.leftCard {
    width: 300px;
    text-align: center;
    padding-top: 50px;
    .img {
        height: 274px;
        width: 220px;
        margin-bottom: 30px;
    }
    .but {
        padding-top: 20px;

    }
}