.header{
    background-color: #ffffff;
    position: sticky;
    top: 0;
    z-Index: 1;
    width: 100%
 }
 .view {
     position: relative;
 }
 .menu  {
     position: absolute;
     background-color: #ffffff;
     top: 0;
     bottom: 0;
 }
 .logo {
    font-size: 20px;
    font-weight: bold;
 }